<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devicedisk.saileelatvfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
         android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/pankajsir"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pankajsir"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.WelcomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection"/>
        <activity
            android:name=".Aboutus.AboutusActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AppInfo.AppinfoActivity"
          android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>